@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css");

body {
  background-color: white;
}

.menu{
  align-items: right;
}

.search-index {
  text-align: center;
  margin: 8% auto;
  width: 50%;
}
